      * {
        font: 1em Ubuntu, sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      .wrapper {
        max-width: 1200px;
        margin: 0 auto;
      }

      .top {
        background-color: #34b1da;
      }

      .top img {
        width: 100%;
        display: block;
      }

      .bottom {
        background-color: #f2f2f2;
        padding-top: 16px;
      }

      .top-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .search input {
        padding: 10px 186px;
        background-color: #f2f2f2;
        border: 1px solid #e5e5e5;
        border-width: 2px;
        border-radius: 4px 0 0 4px;
      }

      .search button {
        padding: 14px;
        font-size: 14px;
        color: #f2f2f2;
        background-color: #34b1da;
        border: none;
        padding: 14px 26px;
        border-radius: 4px;
        float: right;
      }

      .phone-link {
        outline: none;
        text-decoration: none;
        color: black;
        font-size: 22px;
        font-weight: bold;
        float: right;
      }

      .phone-link img {
        width: 9%;
        margin-right: 16px;
      }

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .categories {
        font-size: 20px;
        color: #f2f2f2;
        background-color: #34b1da;
        border: none;
        padding: 16px 88px;
        border-radius: 3%;
        text-align: left;
      }

      .nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        border-radius: 3%;
        padding: 26px 0px;
      }

      .nav-links a {
        outline: none;
        text-decoration: none;
        color: #f2f2f2;
        background-color: #434343;
        padding: 9px 34px;
      }

      .buy {
        font-size: 14px;
        color: #f2f2f2;
        background-color: #34b1da;
        border: none;
        padding: 16px 64px;
        border-radius: 3%;
      }

      .separ {
        background-color: white;
        padding: 16px;
      }

      .main-img {
        background-color: #f2f2f2;
        padding-bottom: 100px;
      }

      .main-text {
          padding-top: 128px;;
          padding-left: 64px;
      }

      h2 {
        font-size: 24px;
        color: #34b1da;
        font-weight: bold;
        margin-bottom: 18px;
      }

      p {
        font-size: 12px;
        color: #888888;
        margin-bottom: 18px;
      }

      .shop {
        padding: 14px;
        font-size: 14px;
        color: #f2f2f2;
        background-color: #464646;
        border: none;
        padding: 14px 26px;
        border-radius: 4px;
        cursor: pointer;
        transition: all ease 0.35s;
      }

      .shop:hover {
        padding: 14px;
        font-size: 14px;
        color: #f2f2f2;
        background-color: #34b1da;
        border: none;
        padding: 14px 26px;
        border-radius: 4px;
        transition: all ease 0.35s;
        cursor: pointer;
      }

      .main-img img {
        width: 45%;
        float: right;
        margin-top: -60px;
      }

      .add-img {
        display: grid;
        grid-template-columns: 376px 376px 376px;
        justify-content: space-between;
      }

      .banner1 {
          background-color: #f2f2f2;
          padding: 52px 26px;
      }
      
      .banner1 h2 {
          color: #434343;
      }

      .banner2 {
        background-color: #34b1da;
        padding: 52px 26px;
     }

     .banner2 h2 {
         color: #f2f2f2;
         font-weight: bold;
     }
    
     .banner3 {
        background-color: #f2f2f2;
        padding: 52px 26px;
     }

     .smart-watches {
         color: #464646;
     }

     .latest {
        background-color: #f2f2f2;
        padding: 12px;
     }
